# Java
*.class

# Gradle
.gradle
build
!gradle-wrapper.jar

# vim
*.swp

# emacs
*~

# Eclipse
.settings
.classpath
.project
.metadata
bin

# Idea
.idea
*.iml

# MAC_OS
.DS_Store

# Ntro 
_storage

# archives
*.7z
*.zip

# .db ne contenant pas d'info
atelier4_1/atelier4_1.db
atelier4_2/atelier4_2.db
atelier4_3/atelier4_3.db
atelier5_1/atelier5_1.db
atelier5_2/atelier5_2.db
atelier5_3_A/atelier5_3_A.db
atelier5_3_B/atelier5_3_B.db
