# Fichiers compilés
.class

# Paquets et fichiers binaires
.jar
.war
.nar
.ear
.zip
.tar.gz
.rar

# Fichiers de métadonnées et dossiers générés par les IDE
bin
out
build
target
dist
lib

# Fichiers de journalisation
.log

# Dossiers et fichiers de configuration IDE spécifiques
# Eclipse
.classpath
.project
.settings
.metadata

# IntelliJ IDEA
.idea
.iml
.iws

# NetBeans
nbprojectprivate
build
nbbuild
nbdist
.nb-gradle

# VS Code
.vscode

# Dossiers de documents et fichiers temporaires
docs
temp
tmp
.tmp
.bak
.swp

# Système de fichiers spécifiques
.DS_Store
Thumbs.db
